<div *ngIf="mode == 'edit'">
    <label>{{view.title}}:</label><span attr.name="{{view.name}}" class="error"></span><br>
    <div *ngIf="view.exists"><a href="{{view.path}}" target="_blank">{{view.filename}}</a></div>
    <div *ngIf="view.maxFilesize"><small class="red">Максимальный размер файла {{view.maxFilesize}} Кб</small></div>
    <div class="loadfile">
        <div class="file" attr.name="{{view.name}}" (click)="selectFile($event)">Выберите файл</div>
        <span class="reset" attr.name="{{view.name}}" file (click)="resetFile($event)">&#215;</span>
        <div class="file-hidden"><input type="file" attr.name="{{view.name}}" (change)="changeFile($event)"></div>
    </div>
    <p><input type="checkbox" name="drop" id="{{view.name}}_drop" [(ngModel)]="this.model[this.view.name].drop" value="1"><label attr.for="{{view.name}}_drop">Удалить</label></p>
</div>
<div *ngIf="mode == 'browse'">
    <div *ngIf="view.exists"><a href="{{view.path}}" target="_blank">{{view.filename}}</a></div>
</div>
