<div *ngIf="mode == 'edit'">
    <div *ngIf="view.readonly">
        <label>{{view.title}}:</label> {{view.value | date: 'dd.MM.yyyy'}}
    </div>
    <div *ngIf=" ! view.readonly">
        <label>{{view.title}}:</label><span attr.name="{{view.name}}" class="error"></span><br>
        <input type="text" name="date" [(ngModel)]="date" (ngModelChange)="setDate()" class="date" id="{{view.name}}_date">
    </div>
</div>
<div *ngIf="mode == 'browse'">
     <div *ngIf="view.value">
        {{view.value | date: 'dd.MM.yyyy'}}
    </div>
</div>
<div *ngIf="mode == 'link'">
    <div class="label date"><span class="glyphicons glyphicons-calendar"></span><span>{{view.title}}</span></div>
</div>
<div *ngIf="mode == 'search'">
    <div class="label date"><span class="glyphicons glyphicons-calendar"></span><span>{{view.title}}</span></div>
    <div><input type="text" value="{{view.value}}" class="date" placeholder=""></div>
</div>