<div *ngIf="mode == 'edit'">
    <label>{{view.title}}:</label>
    <span *ngIf="view.value" attr.name="{{view.name}}" class="container">
        <a [routerLink]="['/browse/', view.value.classId, {mode: 'edit'}]">{{view.value.name}}</a>
    </span>
    <span *ngIf=" ! view.value" attr.name="{{view.name}}" class="container">
        Не определено
    </span>
    <div *ngIf=" ! view.readonly">
        <input type="text" name="{{view.name}}" id="{{view.name}}_autocomplete" [(ngModel)]="value" placeholder="ID или название">
        <span attr.name="{{view.name}}_auto" class="autocomplete-container"></span>
        <span attr.name="{{view.name}}" class="reset" (click)="reset()">&#215;</span>
    </div>
</div>
<div *ngIf="mode == 'browse'">
    <span *ngIf="view.value">
        <a [routerLink]="['/browse/', view.value.classId, {mode: 'edit'}]">{{view.value.name}}</a>
    </span>
</div>
<div *ngIf="mode == 'link'">
    <div class="label one"><span class="glyphicons glyphicons-tag"></span><span>{{view.title}}</span></div>
</div>
<div *ngIf="mode == 'search'">
    <div class="label one">
        <span class="glyphicons glyphicons-tag"></span><span>{{view.title}}:</span>
    </div>
    <div>
        <input type="text" name="{{view.name}}" id="{{view.name}}_autocomplete" [(ngModel)]="value" placeholder="ID или название">
        <span attr.name="{{view.name}}_auto" class="autocomplete-container"></span>
        <span attr.name="{{view.name}}" class="reset" (click)="reset()">&#215;</span>
    </div>
</div>